/.fleet
/.idea
/.vscode
/bin
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/clockwork
/vendor
.DS_Store
.env
.env.backup
.env.testing
.envrc
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
_ide_macros.php
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
.DS_Store

